.container {
  max-width: 912px;
}

.dividerCustom {
  width: 100%;
  height: 1px;
  background-color: rgba(15, 25, 55, 0.1);
  border: none;
}

.text {
  font-weight: 600;
}

.trashCanButton {
  background-color: rgba(15, 25, 55, 0.1);
}

.button {
  max-width: 200px;
}

.input {
  max-width: 600px;
}
