.block {
  display: flex;
  width: 704px;
  max-height: 300px;
  position: relative;
}

.overlay {
  width: 100%;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 70.5%,
    rgba(255, 255, 255, 0.9) 100%
  );
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
}

.overlay:hover::before {
  opacity: 0;
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: var(--gap---m, 16px);
  list-style: none;
  margin-left: 10px;
  padding: 0;
}
