.plateBlock {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid var(--status-attention, #fa9313);
  background: var(--status-muted-attention, #ffefd9);
  margin-bottom: var(--gap---2xl, 32px);
  position: relative;
}

.iconClose {
  background-color: var(--status-muted-attention, #ffefd9);
  border-style: none;
  position: absolute;
  padding: 0;
  top: var(--gap---s, 12px);
  right: var(--gap---s, 12px);
  cursor: pointer;
  border-radius: 12px;
}

.iconClose:hover {
  opacity: 0.6;
}
