.mainButton {
  min-width: 184px;
}

.dividerCustom,
.dividerCustomLarge {
  height: 1px;
  background-color: rgba(15, 25, 55, 0.1);
  border: none;
}

.dividerCustom {
  width: 704px;
}

.dividerCustomLarge {
  width: 912px;
}
