.infoProgress {
  display: flex;
  align-items: center;
  gap: var(--gap---s, 12px);
  background-color: #2637580f;
  padding: var(--gap---2xl, 32px);
  width: 496px;
  justify-content: center;
  border-radius: var(--gap---s, 12px);
}

.infoProgressStatus {
  margin: 0;
  padding: 0;
  color: var(--text-secondary, var(--text-secondary, rgba(4, 4, 19, 0.55)));
  font-feature-settings: "salt" on;
  font-family: "SF Pro Text";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  align-items: flex-start;
}

.infoProgressIcon {
  width: var(--gap---4xl, 48px);
  height: var(--gap---4xl, 48px);
}
