.mentorAreaBlock {
  display: flex;
  width: 269px;
  align-items: center;
}

.block {
  display: flex;
  gap: var(--gap---xs, 8px);
}

.iconAndName {
  display: flex;
}

.icon {
  width: 16px;
  height: 16px;
}

.mentorCopyAreaBlock {
  display: flex;
  justify-content: space-between;
}
