.infoProgress {
  display: flex;
  width: 496px;
  height: 112px;
  padding: var(--gap---l, 20px) var(--gap---xl, 24px) var(--gap---xl, 24px)
    var(--gap---xl, 24px);
  flex-direction: column;
  justify-content: center;
  background-color: #2637580f;
  border-radius: var(--gap---s, 12px);
  gap: var(--gap---s, 12px);
}

.infoTextBlock {
  display: flex;
  justify-content: space-between;
  gap: auto;
}

%margins {
  margin: 0;
  padding: 0;
}

.infoProgressStatus {
  @extend %margins;
  color: var(--text-secondary, var(--text-secondary, rgba(4, 4, 19, 0.55)));
  font-feature-settings: "salt" on;
  font-family: "SF Pro Text";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.infoProcent {
  @extend %margins;
  color: var(--text-primary, #0e0e0e);
  font-feature-settings: "salt" on;
  font-family: "SF Pro Text";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
