.app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  padding: var(--gap-xl) 28px;
  background: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
